:root {
  --primary: #0d6efd;
  --bg: #f4f6f9;
  --card: #ffffff;
  --text: #212529;
}
/* wrapper untuk halaman login */
.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;     /* tengah vertikal */
    justify-content: center; /* tengah horizontal */
    .card {
    animation: fadeIn 0.6s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
}

body {
    background-image: url("../img/bg-hijau.png");
    background-size: cover;       /* gambar penuh layar */
    background-position: center;  /* posisi tengah */
    background-repeat: no-repeat; /* tidak mengulang */
    min-height: 100vh;
}
body {
  background-color: var(--bg);
  color: var(--text);
}

.navbar {
  background-color: var(--primary);
}

.card {
  background-color: var(--card);
  border-radius: 12px;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}
/* HEADER */
.navbar {
    background-color: #1f6feb; /* biru lebih adem */
}

/* JUDUL */
.hero h1 {
    color: #1f6feb;
}

/* TOMBOL UTAMA */
.btn-primary,
.btn-danger {
    background-color: #1f6feb;
    border-color: #1f6feb;
}

.btn-primary:hover,
.btn-danger:hover {
    background-color: #174ea6;
}

/* TOMBOL SECONDARY (Login / Daftar) */
.btn-outline-light {
    color: #1f6feb;
    border-color: #1f6feb;
}

.btn-outline-light:hover {
    background-color: #1f6feb;
    color: white;
}

/* FOOTER */
footer {
    background-color: #1f2937; /* abu gelap elegan */
    color: #e5e7eb;
}
.btn-kembali {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}
